#team_draft
  #timer
  #round_info
  #players

.modal.hide.fade.pickMadeModal
  .modal-body
    %h2
      %span.team_name
      %span picked
      %span.player_name

.modal.hide.fade.pickMissedModal
  .modal-body
    %h2
      %span.team_name
      %span missed their picked

.modal.hide.fade.draftEnd
  .modal-body
    %h2 The draft has ended.

<audio>
<source src="/sportscenter.mp3"></source>
Your browser isn't invited for super fun audio time.
</audio>


:javascript
  jQuery(function() {
  TeamDraft.init(#{@league.to_json}, #{@current_pick.to_json(:include => {:team => {:include => {:draftPicks => {:include => :player}}}})}, #{@upcoming_picks.to_json(:include => :team)}, #{@available_players.to_json}, #{@rosters.to_json(:include => {:draftPicks => {:include => :player }})}, #{@team.to_json(:include => {:draftPicks => {:include => :player}})});
  });