%html{:lang => "en"}
  %head
    %title DraftFu
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %script{ src: "http://js.pusher.com/1.12/pusher.min.js"}
    = tag :meta, :name => "pusher-key", :content => Pusher.key
  %body
    / - unless notice.nil? and alert.nil?
    /   #flash_msg
    /     .wrapper
    /       %p.notice= notice
    /       %p.alert= alert
    / - if current_user
    /   %p 
    /     Logged in as 
    /     = current_user.email
    /   = link_to "Log out", logout_path
    / - else
    /   = link_to "Sign Up", signup_path
    /   = link_to "Log In", login_path      
    = yield